body 
{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#c5ff26;
    background: url("background.png");
    background-size:cover;
    overflow:hidden; /*It hides the extra content which doesn't fit in the page*/
}

.container 
{
    padding: 0%;
    margin:0%;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide 
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    text-align: center;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.6s ease;
}

.slide.active 
{
    opacity: 1;
    transform: scale(1);
    z-index: 1;
    animation: smoothFadeUp 0.7s ease;
}
 
h1 
{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

h2 
{
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 600;
}

p 
{
    font-size: 30px;
    max-width: 600px;
}

#BackButton {
    position: fixed;
    bottom: 45%;
    top: 45%;
    left: 10px;
    z-index: 2;
    border: 4px solid #c5ff26;
    border-radius: 1000px;
    background: #c5ff26;
    cursor:pointer;
}

#NextButton {
    position: fixed;
    bottom: 45%;
    top: 45%;
    right: 10px;
    z-index: 2;
    border: 4px solid #c5ff26;
    border-radius: 1000px;
    background:#c5ff26;
    cursor:pointer;
}

#NextButton:hover ,#BackButton:hover {
    border-color: #b4f306;
    background:#b4f306;
    transform: scale(1.10);
}

@keyframes smoothFadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.chart-box 
{
    width: 700px;
    height: 700px;
}

#profile-buttons 
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#profile-buttons button
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background:#25D366;
    color: white;
    cursor:pointer;
    font-weight: 800;
}

#profile-buttons button:hover 
{
    background: aquamarine;
    color:blue;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

#user-profile 
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    column-gap: 30px;
    justify-content: center;
    align-items: start;
    max-width: 100vw;
    max-height: 100vh;
}

.profile-card 
{
    width: 100%;           
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background: rgba(3,140,252,0.2);
    backdrop-filter: blur(100px);
}

.profile-card p 
{
    font-size: 13px;
    margin: 5px 0;
    max-width: 100%;
}

.profile-card h3 
{
    font-size: 21px;
    margin:0;
}

.heatmap 
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3px;
    margin-top: 10px;
}

.heat-box 
{
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

#night-owl, #ghost, #busiest-day, #longest-silence,
#hype-person, #selective-responder, #conversation-starter,
#cncse-msgr,#chatter-box {
    font-size: 80px;
    color: aliceblue;
}

#emoji-chart-box 
{
    width: 500px;
    height: 500px;
}

#BackButton, #NextButton {
    padding: 14px 18px;      
    line-height: 0;           
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#BackButton img, #NextButton img 
{
    display: block;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

#profile-buttons button.active 
{
    background: #b4f306;
    color: #000;
}

